In [ ]:
CREATE TABLE Ugyfel (
    login NVARCHAR(255) PRIMARY KEY,
    email NVARCHAR(255) MASKED WITH (FUNCTION = 'email()') NOT NULL,
    nev NVARCHAR(255) MASKED WITH (FUNCTION = 'partial(1,"xxxx",1)') NOT NULL,
    szulev INT,
    nem NVARCHAR(1) MASKED WITH (FUNCTION = 'default()'), --random típusú
    cim NVARCHAR(255) MASKED WITH (FUNCTION = 'partial(3,"xxxxxx",3)' ) 
);
INSERT INTO Ugyfel (login, email, nev, szulev, nem, cim) VALUES
('kovacsp', 'peter.kovacs@gmail.com','Kovács Péter', '1975', 'F', 'Budapest, Fő utca 1.'),
('annagy', 'anna.nagy@gmail.com', 'Nagy Anna', '1965', 'N', 'Debrecen, Kossuth tér 5.'),
('gabi1', 'gabor.szabo@gmail.com', 'Szabó Gábor', '2000', 'F', 'Szeged, Rákóczi út 10.'),
('tothm', 'marton.toth@gmail.com', 'Tóth Márton', '1988', 'F', 'Győr, Baross utca 8.'),
('kissj', 'judit.kiss@gmail.com', 'Kiss Judit', '1992', 'N', 'Pécs, Király utca 12.'),
('baloghz', 'zoltan.balogh@gmail.com', 'Balogh Zoltán', '1970', 'F', 'Miskolc, Szentpáli utca 3.'),
('horvathv', 'viktoria.horvath@gmail.com', 'Horváth Viktória', '1985', 'N', 'Székesfehérvár, Palotai út 15.'),
('vargaa', 'adam.varga@gmail.com', 'Varga Ádám', '1998', 'F', 'Tatabánya, Köztársaság út 20.'),
('molnarn', 'noemi.molnar@gmail.com', 'Molnár Noémi', '2001', 'N', 'Eger, Dobó tér 1.'),
('szilagyir', 'robert.szilagyi@gmail.com', 'Szilágyi Róbert', '1979', 'F', 'Zalaegerszeg, Kossuth Lajos utca 9.'),
('nemethk', 'kata.nemeth@gmail.com', 'Németh Kata', '1995', 'N', 'Kaposvár, Fő tér 6.');

CREATE USER maszk_nezo WITHOUT LOGIN;
GRANT SELECT ON dbo.Ugyfel TO maszk_nezo;

EXECUTE AS USER = 'maszk_nezo';
SELECT cim FROM dbo.Ugyfel;
REVERT;